<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Библиотека?</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="not-found">
        <p id="logo">Б<span>?</span></p>
        <div class="not-found-info">
            <p>Страница, по которой Вы пытались перейти, не существует.</p>
            <p id="links"><a href="/">На главную</a> / <a href="/books">Все доступные книги</a> / <a href="/search">Поиск</a></p>
        </div>
    </div>
</body>
</html>