{% extends 'base.html' %}

{% block title %}Добавление книги{% endblock %}

{% block content %}
    {% if notify %}
        <p>{{ notify }}</p>
    {% endif %}
    <form method="post">
        <p><label for="title">Название:</label></p>
        <p><input type="text" name="title" id="title"></p>
        <p><label for="year">Год выпуска:</label></p>
        <p><input type="text" name="year" id="year"></p>
        <p><label for="author">Автор:</label></p>
        <p><input type="text" name="author" id="author"></p>
        <p><label for="max_pages">Количество страниц:</label></p>
        <p><input type="text" name="max_pages" id="max_pages"></p>
        <p><label for="description">Описание:</label></p>
        <p><textarea name="description" id="description" cols="30" rows="10"></textarea></p>
        <p><label for="artwork">URL-адрес обложки:</label></p>
        <p><input type="text" name="artwork" id="artwork"></p>
        <p><input type=submit value=Отправить></p>
    </form>
{% endblock %}