{% extends 'base.html' %}

{% block title %}Редактирование прогресса{% endblock %}

{% block content %}
    {% if notify %}
        <div class="notify">{{ notify }}</div>
    {% endif %}
    <form method="post">
        <p><label for="pages">Сколько страниц прочитано (максимум {{ progress.max_pages }}):</label></p>
        <p><input type="number" name="pages" id="pages" value="{{ progress.pages }}" max="{{ progress.max_pages }}"></p>
        <p><label for="start_date">Когда начато:</label></p>
        <p><input type="date" name="start_date" id="start_date" value="{% if progress.start_date %}{{ progress.start_date }}{% else %}2010-01-01{% endif %}"></p>
        <p><label for="end_date">Когда закончено:</label></p>
        <p><input type="date" name="end_date" id="end_date" value="{% if progress.end_date %}{{ progress.end_date }}{% else %}2010-02-01{% endif %}"></p>
        <p><input type=submit value=Отправить></p>
    </form>
{% endblock %}