{% extends 'base.html' %}

{% block title %}Главная{% endblock %}
  
{% block content %}
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam pharetra lacinia orci aliquam tempor. Phasellus nec arcu vitae massa ultricies sollicitudin id nec nunc. Praesent luctus varius vulputate. Phasellus dignissim, est vel sollicitudin fermentum, nulla leo tincidunt orci, in auctor ex sem eget libero. Sed et ullamcorper tellus. Etiam vestibulum, metus eu blandit hendrerit, erat est molestie mi, in mattis quam massa faucibus ligula. Praesent lacus velit, vestibulum quis mattis accumsan, dignissim quis nunc. Nulla semper tellus tempus nulla sagittis, nec imperdiet enim condimentum. Donec viverra varius dolor, nec elementum turpis scelerisque vitae. Aliquam erat volutpat. Fusce aliquet neque vel bibendum feugiat. Sed venenatis eleifend dolor ut gravida. Etiam tempor ex sed condimentum cursus. In tellus nulla, placerat in velit a, luctus blandit erat. Cras quis tellus efficitur, mollis urna ut, dictum urna.</p>
    <div style="text-align: center;">
        <form method="get" action="/search">
            <p><input type="text" name="q" id="q" class="search-field" placeholder="Поиск книг..."></p>
        </form>
    </div>
{% endblock %}